@mixin full {
    width: 100%;
    height: 100%;
}

@mixin text-center {
    text-align: center;
}

@mixin text-right {
    text-align: right;
}

@mixin center-vertical-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-cover {
    @include full;
}

@mixin caption {
    padding: $large-padding;
    font-weight: bold;
    text-align: justify;
    text-transform: uppercase;
    font-size: 2em;
    position: absolute;
    letter-spacing: 5px;
    width: auto;
    bottom: 0;
    left: 10px;
    z-index: 10;
    @include text-center;
    color: rgba($grey, 0.5);
}

@mixin main-text {
    font-weight: 200;
    font-size: 1em;
    line-height: 1.5em;

    h1,
    h2 {
        font-weight: inherit;
        font-size: $big;
        letter-spacing: .1em;
        line-height: 1.5em;
    }
}

@mixin transition {
    transition: all 0.5s ease-out;
}
