@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import './modules/_variables.scss';
@import './modules/_mixins.scss';
html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

img {
    max-width: 100%;
}

figure {
    position: relative;
    max-height: 100%;
    margin: 15px;
    figcaption {
        @include caption;
    }
}

.full-height {
    min-height: 100vh;
}

.btn {
    padding: $large-padding;
    position: relative;
    color: $black !important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0px;
        height: 40%;
        z-index: -1;
        background-color: $light-blue;
        transition: all 0.15s ease-out;
    }
    &:hover::before {
        height: 100%
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.menu {
    position: fixed;
    top: 2em;
    right: 2em;
    border-radius: 50%;
    background-color: white;
    transition: all 0.6s ease-out;
    transition-duration: 0.15s;
    cursor: pointer; }
    .menu:hover {
      background-color: #29b9da;
      border-radius: 50%; }
    .menu img {
      height: 50px; }
  
  .menu-screen {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -101vh;
    align-items: center;
    justify-content: center;
    // padding-top: 2em;
    transition: all 0.6s ease-out; }
    .menu-screen .close {
      position: absolute;
      top: 2em;
      right: 2em; }
      .menu-screen .close img {
        height: 45px; }
    .menu-screen.active {
      top: 0vh; }
    .menu-screen a {
      display: block;
      text-decoration: none;
      text-align: center;
      position: relative;
      margin-top: 1em; }
      .menu-screen a:first-of-type {
        margin-top: 0; }
      .menu-screen a .main {
        display: block;
        font-size: 2em;
        color: #135b6e; }
      .menu-screen a span:not(.main) {
        color: #f7c4a4;
        opacity: 0;
        transition: all 0.6s ease-out;
        transition-duration: 0.2s; }
      .menu-screen a::after {
        content: '';
        position: absolute;
        top: 1.2em;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #1f2d44;
        transition: all 0.6s ease-out;
        transition-duration: 0.2s;
        transform: scale(0); }
      .menu-screen a:hover::after {
        transform: scale(1); }
      .menu-screen a:hover span:not(.main) {
        opacity: 1; }

.grid-main-area {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-top: $big-margin-top;
    margin-bottom: $big-margin-top;
    grid-template-areas: "title title title title title title title title title" "image image image image image image image image image";
    .text {
        grid-area: title;
        text-align: justify;
        @include main-text;
    }
    .image {
        grid-area: image;
    }
}

.container {
    grid-column: span 12;
    padding: $big-padding;
}

.cover {
    @include absolute-cover;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    &.parallax {
        background-attachment: fixed;
        position: relative;
        z-index: -1;
        p {
            @include caption;
            background-color: rgba($blue, 0.8);
            display: block;
            width: 100%;
            box-sizing: border-box;
            left: 0px;
            @include text-right;
            span {
                display: block;
                font-size: 0.5em;
                font-weight: 200;
                margin-top: 6px;
            }
        }
    }
}

.slider .controls {
    text-align: right;
    margin-bottom: 10px;
    padding-right: 2em;
    }
    .slider .controls .right-arrow, .slider .controls .left-arrow {
      height: 60px;
      transition: all 0.6s ease-out;
      transition-duration: 0.15s;
      cursor: pointer; }
      .slider .controls .right-arrow:hover, .slider .controls .left-arrow:hover {
        opacity: 0.2; }
    .slider .controls .left-arrow {
      margin-right: 1.5em; 
      transform: rotate(180deg);
    }
  
  .slider header {
    background-color: #1f2d44;
    color: #ffff;
    padding: 20px 30px;
    transform: translateY(40px);
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    z-index: 10;
    position: relative; }
    .slider header h2 {
      margin: 0px; }
    .slider header .separator {
      text-align: right;
      padding-right: 150px;
      position: relative; }
      .slider header .separator::after {
        position: absolute;
        content: '';
        height: 3px;
        width: 140px;
        background-color: currentColor;
        top: 0.7em;
        right: 0px; 
}
  
  #slider-text-content {
    transition: all 0.6s ease-out; }
    #slider-text-content.hide {
      opacity: 0;
      transform: translateX(100px); }
  
  #slider-image {
    transition: all 0.6s ease-out; }
    #slider-image.hide {
      opacity: 0; }

.mission {
    align-items: center;
    .container {
        @include main-text;
        font-size: 1.1em;
        figure {
            float: right;
            margin-left: 10px;
        }
        p {
            line-height: 2em;
            &:nth-of-type(1) {
                margin-bottom: 3em;
                position: relative;
                &::after {
                    content: '';
                    background-color: $blue;
                    position: absolute;
                    bottom: -1.5em;
                    height: 5px;
                    width: 70%;
                    z-index: -1;
                }
            }
        }
    }
}

#mapa {
    width: 100%;
    min-height: 600px;
    margin-top: $big-margin-top;
    z-index: -1;
}

.social {
    margin-top: $big-margin-top;
    margin-bottom: $big-margin-top;
    @include text-center;
    p.title {
        font-size: 2.5em;
        font-weight: 200;
    }
    a {
        display: block;
        max-width: 150px;
        margin: 1em auto;
    }
}

@media (min-width: 960px) {
    .container {
        grid-column: 2/12;
    }
    .grid-main-area {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: "title title title image image image image image image";
    }
    .slider {
        align-items: center;
        header {
            transform: translateX(100px);
            width: 100%;
            min-height: 350px;
        }
    }
    .social {
        a {
            display: inline-block;
            margin-top: 0px;
            margin-right: 90px;
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}
